
.col-item {
    border: 2px solid #2323A1;
    border-radius: 5px;
    background: #FFF;
}

    .col-item .photo img {
        margin: 0 auto;
        width: 100%;
    }

    .col-item .info {
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
    }

    .col-item:hover .info {
        background-color: rgba(215, 215, 244, 0.5);
    }

    .col-item .price {
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
    }

        .col-item .price h5 {
            line-height: 20px;
            margin: 0;
        }

.price-text-color {
    color: #00990E;
}

.col-item .info .rating {
    color: #003399;
}

.col-item .rating {
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator {
    border-top: 1px solid #FFCCCC;
}

.clear-left {
    clear: left;
}

.col-item .separator p {
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

    .col-item .separator p i {
        margin-right: 5px;
    }

.col-item .btn-add {
    width: 50%;
    float: left;
}

.col-item .btn-add {
    border-right: 1px solid #CC9999;
}

.col-item .btn-details {
    width: 50%;
    float: left;
    padding-left: 10px;
}

.controls {
    margin-top: 20px;
}

[data-slide="prev"] {
    margin-right: 10px;
}











@import url("modules/system/system.baseee6b.css?qswum3");

@import url("sites/careers.umd.edu/modules/calendar/css/calendar_multidayee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/colorbox_node/colorbox_nodeee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/date/date_api/dateee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/date/date_popup/themes/datepicker.1.7ee6b.css?qswum3");
@import url("modules/field/theme/fieldee6b.css?qswum3");
@import url("modules/node/nodeee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/views/css/viewsee6b.css?qswum3");

@import url("sites/careers.umd.edu/modules/colorbox/styles/default/colorbox_styleee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/ctools/css/ctoolsee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/panels/css/panelsee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/video/css/videoee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/instagram_block/css/instagram-blockee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/selective_tweets/css/selective_tweetsee6b.css?qswum3");
@import url("sites/careers.umd.edu/modules/widgets/widgetsee6b.css?qswum3");
@import url("sites/careers.umd.edu/libraries/fontawesome/css/font-awesomeee6b.css?qswum3");

@import url("sites/careers.umd.edu/files/less/style.Gh1itxuqwLxsJyHgwx1k3WV5pYhuTIHfWZvIFZ1YklUee6b.css?qswum3");
@import url("sites/careers.umd.edu/files/less/bootstrap.B7VUOFAK0z6kFyB4iCFO6bmjUcBrZ_x8MUnZagXY1-Iee6b.css?qswum3");
@import url("sites/careers.umd.edu/themes/umdbootstrap/css/owl.carouselee6b.css?qswum3");
@import url("sites/careers.umd.edu/themes/umdbootstrap/umdcolorbox/colorbox_umdcolorboxee6b.css?qswum3");
