<!DOCTYPE html>

<html lang="en" dir="ltr">


<head>
   
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/vnd.microsoft.icon" />
    <title>@ViewData["Title"] | Центр карьеры</title>
    @*<style>
        @import url("modules/system/system.baseee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/modules/calendar/css/calendar_multidayee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/colorbox_node/colorbox_nodeee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/date/date_api/dateee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/date/date_popup/themes/datepicker.1.7ee6b.css?qswum3");
        @import url("modules/field/theme/fieldee6b.css?qswum3");
        @import url("modules/node/nodeee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/views/css/viewsee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/modules/colorbox/styles/default/colorbox_styleee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/ctools/css/ctoolsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/panels/css/panelsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/video/css/videoee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/instagram_block/css/instagram-blockee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/selective_tweets/css/selective_tweetsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/modules/widgets/widgetsee6b.css?qswum3");
        @import url("sites/careers.umd.edu/libraries/fontawesome/css/font-awesomeee6b.css?qswum3");
        </style>
        <style>
        @import url("sites/careers.umd.edu/files/less/style.Gh1itxuqwLxsJyHgwx1k3WV5pYhuTIHfWZvIFZ1YklUee6b.css?qswum3");
        @import url("sites/careers.umd.edu/files/less/bootstrap.B7VUOFAK0z6kFyB4iCFO6bmjUcBrZ_x8MUnZagXY1-Iee6b.css?qswum3");
        @import url("sites/careers.umd.edu/themes/umdbootstrap/css/owl.carouselee6b.css?qswum3");
        @import url("sites/careers.umd.edu/themes/umdbootstrap/umdcolorbox/colorbox_umdcolorboxee6b.css?qswum3");*@

    <link rel="stylesheet" type="text/css" href="~/css/inc.css" />
    <link rel="stylesheet" type="text/css" href="~/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/assets/css/vendor/font-awesome.min.css" />




    <script src="~/sites/careers.umd.edu/modules/jquery_update/replace/jquery/1.9/jquery.min4b17.js?v=1.9.1"></script>
    <script src="~/misc/jquery-extend-3.4.04b17.js?v=1.9.1"></script>
    <script src="~/misc/jquery-html-prefilter-3.5.0-backport4b17.js?v=1.9.1"></script>
    <script src="~/misc/jquery.once7839.js?v=1.2"></script>
    <script src="~/misc/drupalee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/jquery_update/replace/ui/external/jquery.cookie1683.js?v=67fb34f6a866c40d0570"></script>
    <script src="~/sites/careers.umd.edu/modules/jquery_update/replace/misc/jquery.form.min97e5.js?v=2.69"></script>
    <script src="~/misc/ajax9e9c.js?v=7.80"></script>
    <script src="~/sites/careers.umd.edu/modules/jquery_update/js/jquery_update241d.js?v=0.0.1"></script>
    <script src="~/sites/careers.umd.edu/libraries/colorbox/jquery.colorbox-minee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/colorbox/js/colorboxee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/colorbox/styles/default/colorbox_styleee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/colorbox/js/colorbox_loadee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/video/js/videoee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/views/js/baseee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/bootstrap/js/misc/_progress9e9c.js?v=7.80"></script>
    <script src="~/sites/careers.umd.edu/modules/views/js/ajax_viewee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/google_analytics/googleanalyticsee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/selective_tweets/js/selective_tweetsee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/modules/colorbox_node/colorbox_nodeee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/alertee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/carouselee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/collapseee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/dropdownee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/modalee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/tooltipee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/tabee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/bootstrap/js/transitionee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/modernizr-2.7.2ee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/owl.carousel.minee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/jquery.validate.minee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/bootstrap-select.minee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/bootstrap-checkboxee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/umdbootstrap/js/skinee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/bootstrap/js/modules/views/js/ajax_viewee6b.js?qswum3"></script>
    <script src="~/sites/careers.umd.edu/themes/bootstrap/js/misc/ajaxee6b.js?qswum3"></script>

    <script type="text/javascript" src="~/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Styles", required: false)
</head>

<body class="html front not-logged-in no-sidebars page-node page-node- page-node-76 node-type-page">

    <header id="navbar" role="banner" class="navbar">

        <div class="search-bar">
            <div class="container-fluid">
                <div class="row">
                    <a href="#" class="search-close">
                        <i class="fa fa-times" aria-hidden="true"></i><span class="sr-only">Close</span>
                    </a>
                    <div class="region region-search-bar">
                        <section id="block-search-form" class="block block-search clearfix">


                            <form class="form-search content-search" action="#" method="post" id="search-block-form"
                                  accept-charset="UTF-8">
                                <div>
                                    <div>
                                        <h2 class="element-invisible">Поиск</h2>
                                        <div class="input-group">
                                            <input title="Enter the terms you wish to search for." placeholder="Поиск"
                                                   class="form-control form-text" type="text" id="edit-search-block-form--2"
                                                   name="search_block_form" value="" size="15" maxlength="128" />
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-primary">Поиск</button>
                                            </span>
                                        </div>
                                        <div class="form-actions form-wrapper form-group" id="edit-actions">
                                            <button class="element-invisible btn btn-primary form-submit" type="submit" id="edit-submit"
                                                    name="op" value="Search">
                                                Поиск
                                            </button>
                                        </div>
                                        <input type="hidden" name="form_build_id"
                                               value="" />
                                        <input type="hidden" name="form_id" value="search_block_form" />
                                    </div>
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="top collapse navbar-collapse" id="navCollapse">
            <div class="container-fluid">
                <div class="nav-outer">
                    <div class="region region-header-top">
                        <section id="block-menu-block-2" class="block block-menu-block nav navbar-right navbar-nav main-nav clearfix">
                            <div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-0 menu-level-1">
                                <ul class="menu nav">
                                    <li class=""><a href="std.html">Услуги</a></li>
                                    <li class=""><a href="std.html" title="About the Center">ППС</a></li>
                                    <li class=""><a href="std.html">Расписание</a></li>
                                    <li class=""><a href="std.html">Публикации</a></li>

                                    <li id="menu-mlid-849" class=" expanded menu-mlid-849">
                                        <a href="std.html"
                                           class="nolink"><span>Студенты</span></a>
                                        <ul class="menu nav">
                                            <li class="first leaf has-children menu-mlid-983">
                                                <a href="std.html"
                                                   title="Откройте для себя свои варианты и найдите то, что вам подходит.">
                                                    <span>
                                                        Выбери свою
                                                        карьеру
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="leaf has-children menu-mlid-863">
                                                <a href="std.html"
                                                   title="Создайте свое конкурентное преимущество."><span>Получать опыт</span></a>
                                            </li>
                                            <li class="leaf has-children menu-mlid-866">
                                                <a href="std.html"
                                                   title="Ставьте свою ног вперед."><span>Начни свою карьеру</span></a>
                                            </li>
                                            <li class="last leaf has-children menu-mlid-874">
                                                <a href="std.html"
                                                   title="Увеличивайте свои знания и открывайте новые двери.">
                                                    <span>
                                                        Дальнейшее
                                                        образование
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>

                                    </li>
                                    <li class="expanded menu-mlid-879">
                                        <a href="std.html"
                                           class="nolink"><span>Работодателей</span></a>
                                        <ul class="menu nav">
                                            <li class="first leaf has-children menu-mlid-886">
                                                <a href="employers/hire-students-alumni.html"
                                                   title="Привлекайте таланты в свою организацию.">
                                                    <span>
                                                        Нанять студентов и
                                                        выпускников
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="leaf has-children menu-mlid-880">
                                                <a href="employers/recruit-campus.html"
                                                   title="Найдите программу, которая соответствует вашей стратегии.">
                                                    <span>
                                                        Набор на
                                                        кампусе
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="leaf has-children menu-mlid-891">
                                                <a href="employers/employers/volunteer-at-umd.html"
                                                   title="Поделитесь своей мудростью и идеями с честолюбивыми студентами.">
                                                    <span>
                                                        Волонтер в
                                                        ТНУ
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="last leaf has-children menu-mlid-8362">
                                                <a href="employers/employers/become-sponsor.html"><span>Стать спонсором</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-964">
                                        <a href="std.html"
                                           class="nolink"><span>Сотрудники</span></a>
                                        <ul class="menu nav">
                                            <li class="first leaf menu-mlid-3456">
                                                <a href="faculty-staff/faculty-staff/help-your-students.html"
                                                   title="Как Центр может поддержать ваши усилия."><span>Помогите своим ученикам</span></a>
                                            </li>
                                            <li class="leaf has-children menu-mlid-8873">
                                                <a href="faculty-staff/faculty-staff/import-canvas-assignments.html"
                                                   title="Интегрируйте карьеру и профессиональное развитие в академический опыт"><span>Развитие</span></a>
                                            </li>
                                            <li class="last leaf has-children menu-mlid-3451">
                                                <a href="faculty-staff/faculty-staff/stay-informed.html"
                                                   title="Информация о рынке труда и успеваемости студентов."><span>В курсе</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="expanded menu-mlid-899">
                                        <a href="std.html" class="nolink"><span>Выпускников</span></a>
                                        <ul class="menu nav">
                                            <li class="first leaf has-children menu-mlid-900">
                                                <a href="alumni/get-career-direction.html"
                                                   title="Нужны рекомендации?  Мы здесь, чтобы помочь.">
                                                    <span>
                                                        Получить направление
                                                        карьеры
                                                    </span>
                                                </a>
                                            </li>
                                            <li class="last leaf has-children menu-mlid-903">
                                                <a href="alumni/help-fellow-terps.html"
                                                   title="Обеспечить профориентацию нынешним студентам ТНУ.">
                                                    <span>
                                                        Поделись своим
                                                        успехом
                                                    </span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>

                        </section>

                    </div>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="container-fluid">
                <div class="logo">
                    <a href="index.html" title="Home">
                        <img src="sites/careers.umd.edu/files/tnu_logo.png" alt="Home" />
                    </a>
                </div>
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navCollapse"
                        aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar top-bar"></span>
                    <span class="icon-bar mid-bar"></span>
                    <span class="icon-bar bot-bar"></span>
                </button>
            </div>
        </div>
    </header>

    <div class="main-wrapper">
        @RenderBody()
    </div>

    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="region region-footer-top-l">
                        <section id="block-block-1" class="block block-block clearfix">


                            <div class="logo">
                                <a href="index.html">
                                    <img src="sites/careers.umd.edu/files/tnu_logo.png"
                                         alt="University Career Center &amp; The President's Promise" />
                                </a>
                            </div>
                            <p class="address hidden-xs">г.Душанбе, Сомони 12</p>
                            <p class="phone hidden-xs">900 00 00 00</p>

                        </section>
                        <section id="block-widgets-s-social-media-links" class="block block-widgets social-links clearfix">


                            <div id="widgets-element-social-media-links"
                                 class="widgets widgets-set widgets-set-horizontal widgets-style-horizontal">
                                <div id="widgets-element-widgets_custom-markup"
                                     class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal">
                                    <span class="social-media-icon">
                                        <a target="_blank" href="https://www.facebook.com/CareerCenterTNU">
                                            <i class="fa fa-facebook"></i>
                                        </a>
                                    </span>
                                </div>
                                <div id="widgets-element-widgets_custom-markup"
                                     class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal">
                                    <span class="social-media-icon">
                                        <a target="_blank" href="https://twitter.com/CareerCenterTNU">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </span>
                                </div>
                                <div id="widgets-element-widgets_custom-markup"
                                     class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal">
                                    <span class="social-media-icon">
                                        <a href="https://www.linkedin.com/groups"
                                           target="_blank"><i class="fa fa-linkedin"></i></a>
                                    </span>
                                </div>
                                <div id="widgets-element-widgets_custom-markup"
                                     class="widgets widgets-element widgets-element-horizontal widgets-style-horizontal">
                                    <span class="social-media-icon">
                                        <a href="https://www.youtube.com/user/CareerCenterTNU" target="_blank">
                                            <i class="fa fa-youtube"></i>
                                        </a>
                                    </span>
                                </div>
                                <div class="widgets-clear"></div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="region region-footer-top-m">
                        <section id="block-block-3" class="block block-block clearfix">

                            <h2 class="block-title">Инфомация Центр карьеры</h2>

                            <p class="hidden-xs">
                                По инициативе Министерства образования и науки Республики Таджикистан в честь 30-летия государственной независимости Республики Таджикистан и...

                            </p>
                        </section>
                        <section id="block-constant-contact-1" class="block block-constant-contact clearfix">


                            <form action="https://careers.umd.edu/" method="post" id="cc_signup_form_1" accept-charset="UTF-8">
                                <div>
                                    <div class="form-item form-item-cc-email-1 form-type-textfield form-group">
                                        <label class="control-label" for="edit-cc-email-1">
                                            Email <span class="form-required"
                                                        title="This field is required.">*</span>
                                        </label>
                                        <input class="form-control form-text required" type="text" placeholder="Email" name="cc_email_1"
                                               value="" size="30" maxlength="128" />
                                    </div><input type="hidden" name="delta" value="1" />
                                    <button type="submit" id="edit-submit--2" name="submit_1" value="Signup"
                                            class="btn btn-default form-submit">
                                        Signup
                                    </button>
                                    <div id="cc-wrapper-replace"></div><input type="hidden" name="form_build_id"
                                                                              value="form-TNotTLilqTFD8FIHKt4zIEHZh9Kge34AFBzzagTWEUQ" />
                                    <input type="hidden" name="form_id" value="constant_contact_signup_form_1" />
                                </div>
                            </form>
                        </section>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="region region-footer-top-r">
                        <section id="block-menu-menu-footer-menu" class="block block-menu footer-links clearfix">


                            <ul class="menu nav">
                                <li class="leaf"><a href="about/faq.html" title="">Родители</a></li>
                                <li class="leaf"><a href="std.html" title="Link to the Careers4Terps portal">Выбери свою карьеру</a></li>
                                <li class="leaf"><a href="directions-parking.html">Начни свою карьеру</a></li>
                                <li class="leaf"><a href="contact-us.html">Контакты</a></li>
                                <li class="leaf"><a href="about.html" title="Blog">О нас</a></li>

                            </ul>
                        </section>
                    </div>
                </div>
            </div>
            <hr />
            <div class="copyright-wrap">
                <div class="region region-footer-bot">
                    <section id="block-block-2" class="block block-block copyright clearfix">
                        TNU Career Center 2021
                    </section>
                    <section id="block-menu-menu-footer-secondary-menu" class="block block-menu copyright-links clearfix">


                        <ul class="menu nav">
                            <li class="first leaf"><a href="privacy-policy.html">Положения и условия</a></li>
                            <li class="leaf"><a href="sitemap.html" title=""> Политики конфиденциальности</a></li>
                        </ul>
                    </section>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/sites/careers.umd.edu/themes/bootstrap/js/bootstrapee6b.js?qswum3"></script>
    @*  <script type="text/javascript">
            /*<![CDATA[*/
            (function () {
                var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
                sz.src = '../siteimproveanalytics.com/js/siteanalyze_90779855.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
            })();
            /*]]>*/

        </script>*@
    <script>
        $('.one-time').slick({
            dots: true,
            infinite: true,
            speed: 300,
            slidesToShow: 1,
            adaptiveHeight: true
        });
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>


</html>