@model CareerCenter.MVC.Models.GalleryView

@{
    ViewData["Title"] = "Редактирования";
    Layout = "_LayoutAdmin";
}

@ViewData["Title"]

<h4>Галерея</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FileUpload" class="control-label"></label>
                <input type="file" asp-for="FileUpload" class="form-control dropify" data-default-file="/uploads/@Model.File"  data-allowed-file-extensions="png jpg jpeg"/>
                <span asp-validation-for="FileUpload" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="File" />
            <input type="hidden" asp-for="CretedAt" />
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            @*<div class="form-group">
                <label asp-for="CretedAt" class="control-label"></label>
                <input asp-for="CretedAt" class="form-control" />
                <span asp-validation-for="CretedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="button button-apple" asp-action="Index">Назад</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
